{%  extends "base.html" %}

{%  block content %}
    <h1>Edit Items in Inventory</h1>
    <br>
    <h3>Add items</h3>
    <h4>{{product.brand}} {{product.model}} {{product.color}}</h4>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    
        {% for value, text in form_inventory.sizes.field.choices %}
            <span style="white-space: nowrap; margin: 10px;">
                <input type="checkbox" name="sizes" value="{{value}}"/>
                    <label>{{ text }}</label>
            </span>
        {% endfor %}
        <br>

        <label>Quantity</label>
        {{form_inventory.quantity}}
        <button type="submit"> Submit </button>
    </form>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">INVENTORY ID</th>
            <th scope="col">SIZE</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
          </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.size}}</td>
                <td><a href="{% url 'edit_item_inventory' item_id=item.id %}">edit</a></td>
                <td><a href="{% url 'delete_item_inventory' item_id=item.id product_id=product.id %}">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%  endblock %}
    