{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h4 class="mb-4">Products List</h4>
    {% if messages %}
      <div class="alert alert-warning" role="alert">
        {% for message in messages %}
          <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
            <a class="btn btn-danger ml-2" href="{% url 'delete_product' force_delete_flag=1 product_id=force_delete_product_id %}">Delete anyways</a>
          </p>
        {% endfor %}
      </div>
    {% endif %}
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">BRAND</th>
          <th scope="col">MODEL</th>
          <th scope="col">COLOR</th>
          <th scope="col">In Inventory</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
        </tr>
      </thead>
      <tbody>
      {% for item in data %}
        <tr>
          <td style="color: white;">{{item.product.brand}}</td>
          <td style="color: white;">{{item.product.model}}</td>
          <td style="color: white;">{{item.product.color}}</td>
          <td><a class="btn btn-primary" href="{% url 'add_item_inventory' product_id=item.product.id %}">{{item.quantity}}</a></td>
          <td><a class="btn btn-warning" href="{% url 'edit_product_detail' product_id=item.product.id %}">edit</a></td>
          <td><a class="btn btn-danger" href="{% url 'delete_product' force_delete_flag=0 product_id=item.product.id %}" >delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}