{%  extends "base.html" %}

{%  block content %}

<form method="POST" action="." enctype="multipart/form-data"> {% csrf_token %}
    {{ form_add_product.as_p }}

    {% for value, text in form_inventory.sizes.field.choices %}
        <span style="white-space: nowrap; margin: 10px;">
            <input type="checkbox" name="sizes" value="{{value}}"/>
                <label>{{ text }}</label>
        </span>
    {% endfor %}
    <br>

    <label>Quantity</label>
    {{form_inventory.quantity}}
    <br><br><br>
    <button type="submit"> Submit </button>
</form>
{% if  product_id %}
    <a href="{% url 'edit_product_detail' product_id=product_id %}">Click to edit new product added</a>
{% endif %}
{%  endblock %}